body{
    background-color: gray;
    background-image: url("../images/friends.jpg");
    background-size: 600px;
}
.container{
    color: lightseagreen;
}
.questions{
    font-size: x-large;
}
img{
    width: 250px;
    height: 250px;
    }