body{
    background-image: url("../images/friends.jpg");
    background-size: 600px;
}
.container{
    color: lightseagreen;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
}
.questions{
    font-size: x-large;
}
img{
    width: 250px;
    height: 250px;
    }